<IfModule mod_rewrite.c>

    RewriteEngine On
	RewriteBase /ACYE2-Practica1F2-Grupo5/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /ACYE2-Practica1F2-Grupo5/index.php/$1 [L] 

</IfModule>

<IfModule !mod_rewrite.c>

    ErrorDocument 404 /codeigniter/index.php

</IfModule>
